body {
    background-color: rgb(190, 190, 216);
}
h1 {
    color: rgb(167, 167, 129);
    text-align: center;
    font-size: 5rem;
}
a {
    border: 20px;
    font-size: 3rem;
    text-decoration: none;
    border: 1px dotted transparent;
    background-color: gray;
}
